body {
    margin: 0;
    margin-top: 60px;
    font-family: 'Arial', sans-serif;
    word-wrap: break-word;
}

/*タイトルなどのバー*/
.navbar {
    background-color: #333;
    padding: 1px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px;

}

/*バーのタイトル*/
.navbar-title {
    color: white;
    margin: 0;
    transform: translateX(40px);
}

/*メニューのボタン*/
.menu-toggle {
    cursor: pointer;
}

/*メニューボタンのデザイン*/
.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/*メニューのリストをマウスポインタが通ると色つく*/
.my-button:hover {
    background-color: #7d8d99;
}

/*メニューのリスト*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 200px;
    width: -200px;
    transition: 0.4s;
    display: none;
}


/*リストの幅*/
.menu li {
    padding: 15px;
}

/*リストの名前の文字*/
.menu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*ボタンが押されたときのリストメニュー*/
.menu.show {
    left: 0;
    display: flex;
    /* メニューが表示されるときは右にスライド */
}

/*スクリーンの大きさが変わったとき*/
@media screen and (max-width: 600px) {
    .menu li {
        padding: 10px;
    }
}