body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    /* 右寄せ */
}

.menu-toggle {
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.my-button:hover {
    background-color: #7d8d99;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    /* メニューのトップ位置 */
    right: -200px;
    /* 初期状態では画面外に隠れている */
    width: 200px;
    transition: 0.4s;
}

.menu li {
    padding: 15px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu.show {
    right: 0;
    /* メニューが表示されるときは右にスライド */
}

@media screen and (max-width: 600px) {
    .menu li {
        padding: 10px;
    }
}